<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>ProductSet</title>

    <!-- headOutterLinks     -->
    <th:block th:insert="fragments/product/head :: headOutterLink" />

    <style>

        #wepper_section {
            width: 100%;
        }

        .main-section {}

        .main-section-area {
            width: 1260px;
            margin: 0 auto;
        }


        .tag-labels {
            margin-right: 5px;
        }

        /* 상품 등록 ==================================== */
        #product-set-form{

        }
        #product-set-form > div > input{
            border-bottom: 1px solid #E0E0E0;
        }
        #product-set-form > div > p{
            font-size: 18px;
            font-weight: bold;
            color: black;
        }
        /* 작성자 이름 */
        #form-author{

        }
        /* 제목 */
        #form-title{
            width: 1200px;

        }
        /* 내용 */
        #form-text{
            resize: none; /* 사용자 크기 조절 비활성화 */
            width: 1200px;
            height: 150px;
            overflow: auto; /* 내용이 넘칠 경우 스크롤바 표시 */
        }
        /* 가격 */
        #form-price{

        }
        /* 제품 종류 */
        #form-select{

        }
        /* 제품 태그 */
        #form-tags{

        }
        /* 제품 이미지 선택 */
        #form-image-input{

        }
        /* 등록 버튼 */
        #form-submit-button{
            margin-bottom: 10em;
            margin-top: 1em;
        }


        /* 이미지 미리보기 ============================== */
        #set-preview{

        }
        .img-preview{
            display: flex;
            width: 1200px;
        }

        .previews{
            width: 150px;
            height: 150px;
            position: relative;
        }

        .cutimgs{
            position: absolute;
            top: 5%;
            right: 5%;
            border: 2px solid red;
            width: 5px;
            height: 5px;
        }
        .view-img{
            width: 150px;
            height: 150px;
        }


    </style>

</head>

<body>

<div id="wepper">

    <!--  header fragment      -->
    <div th:replace="fragments/product/header_v2 :: headerFragment_no_menubar" />

    <!-- 바디 메인 섹션 -->
    <div id="wepper_section">
        <!-- 바디 메인 -->
        <div class="main-section">
            <!-- 바디 메인 -->
            <div class="main-section-area">

                <form id="product-set-form" action="/product/set" method="post" enctype="multipart/form-data">
                    <div>
                        <p>작성자</p>
                        <input type="text" name="prodauthor" id="form-author" th:value="${#authentication.name}"
                               readonly>
                    </div>
                    <div>
                        <p>제목</p>
                        <input type="text" name="prodname" id="form-title">
                    </div>
                    <div>
                        <p>내용</p>
                        <textarea type="text" name="prodcontext" id="form-text"></textarea>
                    </div>
                    <div>
                        <p>가격</p>
                        <input type="number" name="prodprice" id="form-price"></input>
                    </div>
                    <div>
                        <p>제품 종류</p>
                        <select name="prodtype" id="form-select">

                            <option value="cpu">CPU</option>
                            <option value="motherboard">메인보드</option>
                            <option value="memory">메모리</option>
                            <option value="gpu">그레픽카드</option>
                            <option value="ssd">SSD</option>
                            <option value="hdd">HDD</option>
                            <option value="case">케이스</option>
                            <option value="power">파워</option>
                        </select>
                    </div>
                    <div>
                        <p>제품 테그</p>
                        <div id="form-tags">

                        </div>

                    </div>
                    <div>
                        <p>이미지 선택</p>
                        <input type="file" name="files" id="form-image-input" multiple>
                    </div>
                    <!-- 이미지 미리보기 생성위치 -->
                    <div id="set-preview"></div>

                    <button id="form-submit-button">등록</button>
                </form>



            </div>

        </div>

    </div>

</div>

<!-- common.js   -->
<script src="/js/common.js"></script>

<script>

    //전역 폼데이터
    let formData = new FormData();
    //메인 이미지 인덱스 저장용
    let selected;

    //폼데이터 찾기
    const product_set_form = document.getElementById('product-set-form')
    //이미지 미리보기가 생성될 위치
    const set_previewEl = document.getElementById('set-preview');

    //상품 타입 위치
    const typeSelect_El = document.getElementById('form-select');
    //상품 테그 위치
    const tags_El = document.getElementById('form-tags');

    //검색 테그 ==========================================================
    //타입별 생성 테그 입력 ('%n' 은 줄변경)

    //cpu 테그
    const tag_cpu = [

        //제조사
        'AMD', 'intel', '%n',
        //제조사2
        '라이젠', '인텔', '%n',
        //세대
        '3세대', '4세대', '5세대', '6세대', '7세대', '8세대', '9세대', '10세대', '11세대', '12세대', '13세대', '14세대', '%n',
        //소켓
        '인텔(소켓1700)', '인텔(소켓1200)', 'AMD(소켓AM5)', 'AMD(소켓AM4)', '%n',
        //제조 공정
        '5nm', '7mm', '10mm', '12mm', '14mm', '%n',
        //코어 수
        '2코어', '4코어', '6코어', '8코어', '10코어', '12코어', '%n',
        //쓰레드 수
        '2쓰레드', '4쓰레드', '6쓰레드', '8쓰레드', '10쓰레드', '12쓰레드'

    ];
    //메인보드 테그
    const tag_motherboard = [

        //제조사
        'MSI', 'ASUS', 'ASRock', 'GIGABYTE', 'ECS', '%n',
        //제품 분류
        '인텔 CPU용', 'AMD CPU용', '임베디드', '주변기기', '%n',
        //cpu 소켓
        '인텔(소켓1700)', '인텔(소켓1200)', 'AMD(소켓AM5)', 'AMD(소켓AM4)', 'AMD(소켓sTRX4)', '%n',
        //세부 칩셋
        '인텔 B760', '인텔 B660', '인텔 H610', 'AMD B650', 'AMD A620', '%n',
        //폼펙터
        'ATX (30.5x24.4cm)', 'M-ATX (24.4x24.4c', 'M-iTX (17.0x17.0c', 'E-ATX (30.5x33.0c', 'EEB (30.5x33.0cm)', '%n',
        //전원부
        '28페이즈', '27페이즈', '25페이즈', '24페이즈', '23페이즈', '%n',
        //Vcore출력합계
        '2501~ A', '2001~2500 A', '1501~2000 A', '1001~1500 A', '501~1000 A'

    ];
    //메모리 테그
    const tag_memory = [

        '삼성전자', '마이크론', 'G.SKILL', 'TeamGroup', '이메이션', '%n',
        '데스크탑용', '노트북용', '서버용', '%n',
        'DDR5', 'DDR4', 'DDR3', 'DDR2', 'DDR', '%n',
        '64GB', '32GB', '16GB', '8GB', '4GB', '2GB', '1GB', '512MB', '256MB' ,'%n',
        '8400MHz (PC5-672)','8200MHz (PC5-656)','8000MHz (PC5-640)','7800MHz (PC5-624)','7600MHz (PC5-608','%n',
        'CL14','CL15','CL16','CL17','CL18','%n',
        '1.10V','1.20V','1.25V','1.35V','1.50V'

    ];
    //그레픽카드 테그
    const tag_gpu = [

        'MSI', '이엠텍', 'ASUS','GAINWARD','COLORFUL','%n',
        'NVIDIA', 'AMD' , 'INTEL','%n',
        '지포스 RTX 40' , '지포스 RTX 30' , '지포스 RTX 20' , '지포스 16' , '라데온 RX 7000','%n',
        '4 nm' , '8 nm' , '12 nm' , '14 nm' , '16 nm', '%n',


    ];
    //SSE 테그
    const tag_ssd = [

        '테스트', '테스트', '테스트'

    ];
    //HDD 테그
    const tag_hdd = [

        '테스트', '테스트', '테스트'

    ];
    //본체 테그
    const tag_case = [

        '테스트', '테스트', '테스트'

    ];
    //파워 테그
    const tag_power = [

        '테스트', '테스트', '테스트'

    ];

    //================================================

    //====================================================================
    //테그 생성기
    //====================================================================
    const genTags = (tag) => {

        for (let i = 0; i < tag.length; i++) {

            if (tag[i] === '%n') { //%n 이 입력될시 줄변경

                var br_El = document.createElement('br');
                tags_El.appendChild(br_El);

            } else {

                var option_label_El = document.createElement('label')
                option_label_El.className = 'tag-labels'
                // option_label_El.textContent = tag[i];

                var textNode_El = document.createTextNode(tag[i]);

                var option_El = document.createElement('input')
                option_El.setAttribute('type', 'checkbox');
                option_El.setAttribute('name', 'prodtags');
                option_El.setAttribute('value', tag[i]);


                option_label_El.appendChild(option_El);
                option_label_El.appendChild(textNode_El);
                tags_El.appendChild(option_label_El);

            }



        }
    }

    //디폴트 설정
    const init = () => {

        createTags('cpu');

    }



    //상품 태그 생성기
    const createTags = (settype) => {

        switch (settype) {

            case 'cpu': genTags(tag_cpu);
                break;

            case 'motherboard': genTags(tag_motherboard);
                break;

            case 'memory': genTags(tag_memory);
                break;

            case 'gpu': genTags(tag_gpu);
                break;

            case 'ssd': genTags(tag_ssd);
                break;

            case 'hdd': genTags(tag_hdd);
                break;

            case 'case': genTags(tag_case);
                break;

            case 'power': genTags(tag_power);
                break;



        }



    }

    //타입이 선택될때 그에맞는 테그들을 생성
    typeSelect_El.addEventListener('change', function () {

        //테그 비우기
        tags_El.innerHTML = '';

        createTags(typeSelect_El.value)

    });



    //폼 전송
    product_set_form.addEventListener('submit', function () {

        //form 자체 submit 기능 막기
        event.preventDefault()

        //폼 데이터 받아오기
        const product_set_form = document.getElementById('product-set-form')

        //원본 formData
        getformData = new FormData(product_set_form);
        let tagstest = getformData.getAll('prodtags')
        tagstest.forEach(item => {
            console.log(item);
        })

        // getformData에서 복사할 키들
        let keynames = ['prodname', 'prodcontext', 'prodtype', 'prodauthor', 'prodprice'];
        let keynamesArray = ['prodtags'];

        // getformData에서 값을 가져와서 전역formData로 복사
        for (let key of keynames) {
            let value = getformData.get(key);
            if (value !== null) {
                formData.append(key, value);
            };
        };

        for (let key of keynamesArray) {
            let value = getformData.getAll(key);
            if (value !== null) {
                formData.append(key, value);
            };
        };

        //만약 메인 이미지 선택을 했을경우
        //다시다 꺼내서 순서를 새로 맞춰준다.
        if (!(selected == undefined)) {

            const imgs = formData.getAll('files');
            formData.delete('files');

            formData.append('files', imgs[selected]);

            for (let i = 0; i < imgs.length; i++) {
                if (i == selected) {

                } else {
                    formData.append('files', imgs[i]);
                }
            };

        };


        //완성된 formData 를 서버로 전송
        axios.post('/product/set', formData, { headers: { 'Content-Type': 'multipart/form-data' } })
            .then(response => {
                alert("ok")
                window.location.href = "/product/index";
            })
            .catch(error => {
                alert("fail");
                location.reload();
            });


    })

    //이미지 업로드
    document.getElementById('form-image-input').addEventListener('change', function (imgput) {

        const imgFiles = imgput.target.files;

        for (let i = 0; i < imgFiles.length; i++) {
            formData.append('files', imgFiles[i])
        }

        //이미지 프리뷰 생성 시작
        getpreview();


    });

    //이미지 프리뷰 생성
    const getpreview = () => {

        var previewp = document.createElement('p');
        previewp.textContent = '이미지 미리보기 (클릭시 대표이미지 선택)';
        set_previewEl.appendChild(previewp);

        var img_preview = document.createElement('div');
        img_preview.className='img-preview';


        const imgs = formData.getAll('files');
        for (let i = 0; i < imgs.length; i++) {

            var preview = document.createElement('div');
            preview.className = 'previews';

            var cutimg = document.createElement('a')
            cutimg.className = 'cutimgs';
            cutimg.href = "javascript:void(0)";

            var viewimg = document.createElement('img');
            viewimg.className = 'view-img';

            preview.appendChild(viewimg);
            preview.appendChild(cutimg);
            img_preview.appendChild(preview);

        }
        set_previewEl.appendChild(img_preview);

        //업로드 이미지를 불러오기 시작
        onreaderimg();
        //메인 이미지 선택 리스너 시작
        selectMainimgListener();
        //이미지 제외 리스너 시작
        cutimgListener();
    }

    //업로드 이미지를 불러오기
    //혼자 비동기로 돌아가서 이미지 프리뷰 틀 생성과 개별적으로 동작함
    const onreaderimg = () => {
        const imgs = formData.getAll('files');
        const viewimgEl = document.querySelectorAll('.view-img');

        viewimgEl.forEach((imgno, index) => {

            const reader = new FileReader();

            reader.readAsDataURL(imgs[index]);
            reader.onload = function (item) {

                imgno.setAttribute('src', item.target.result);

            }

        })

    }


    //이미지 제외 리스너
    const cutimgListener = () => {

        const cutimgEl = document.querySelectorAll('.cutimgs');
        cutimgEl.forEach((item, index) => {

            item.addEventListener('click', function () {
                console.log(index + "번째 이미지 클릭됨!");
                const imgs = formData.getAll('files');


                formData.delete('files');


                for (let i = 0; i < imgs.length; i++) {

                    console.log("index = " + index + " i = " + i);

                    if (!(index == i)) {
                        console.log("index = " + index + " i = " + i + "통과");
                        formData.append('files', imgs[i]);
                    }

                }

                const oldpreviews = document.querySelectorAll('.previews');
                oldpreviews.forEach(preview => {
                    preview.parentNode.removeChild(preview);
                });

                getpreview();

            })

        });

    }

    //메인 이미지 선택 리스너
    const selectMainimgListener = () => {
        const viewimgEl = document.querySelectorAll('.view-img');


        viewimgEl.forEach((item, index) => {
            item.addEventListener('click', function () {
                console.log(index + "번째 이미지 선택됨!");

                selected = index;

                viewimgEl.forEach((item, index) => {
                    if (index == selected) {
                        item.style.border = '5px solid green';
                    } else {
                        item.style.border = '1px solid black';
                    }

                });

            });

        });



    };


    init();

</script>

</body>

</html>