<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>


    <!-- th:fragment     -->
    <th:block th:insert="/fragments/product/head :: headOutterLink" />

    <!-- bs3.3.7   -->
    <th:block th:insert="fragments/product/bs3 :: head_bs3" />

    <!-- common.css    -->
    <!--    <link rel="stylesheet" href="/css/common.css">-->

    <!-- board/list.css    -->
    <!--    <link rel="stylesheet" href="/css/board/list.css">-->

    <style>
        #wepper_section {
            width: 100%;
        }

        .main-section {}

        .main-section-area {
            width: 1260px;
            margin: 0 auto;
        }

        .main-section-area>div>div>p {
            font-size: 18px;
            font-weight: bold;
            margin: 15px 0px 15px 15px;
            color: black;
        }
        /* 구획 구분 */
        .main-section-area>div>div>div {
            width: 100%;
            padding: 20px 24px;
            background-color: #F8F8F8;
            border: solid 1px #d3d3d3;
            box-sizing: border-box;
        }

        /* .wrapper>main>section .search-block {
            position: absolute;
            height: 40px;
            left: 0px;
            top: 0px;
            width: 100%;

            display: flex;
            justify-content: right;
            align-items: center;

        } */

        /* 게시글 라인 */
        .board-tr{

            cursor: pointer;

        }

        /* 버튼 그룹 박스\ */
        .button-box {

            margin-top: 10px;

        }

        /* 검색 버튼 그룹 */
        .search-form>div {

            display: flex;

        }


    </style>

</head>

<body>


<!-- 바디  -->
<div id="wepper">

    <!--  header fragment      -->
    <div th:replace="/fragments/product/header_v2 :: headerFragment_no_menubar" />

    <!-- 바디 메인 섹션 -->
    <div id="wepper_section">
        <!-- 바디 메인 -->
        <div class="main-section">
            <!-- 바디 메인 -->
            <div class="main-section-area">

                <div class="wrapper container-xxl">

                    <div class="col">

                        <p>질문 게시판</p>
                        <div class="board-box">



                            <div class="board-header">
                                Page No (<span th:text="${pageNo}"></span> / <span
                                    th:text="${pageDto.totalpage}"></span> Page)
                            </div>
                            <div class="board-body">
                                <!-- body -->
                                <table class="table w-100">
                                    <thead>
                                    <tr>
                                        <th scope="col-1">no</th>
                                        <th scope="col-2">제목</th>
                                        <th scope="col-2">작성자</th>
                                        <th scope="col-2">날자</th>
                                        <th scope="col-1">조회수</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <!-- BOARD LIST ITEMS -->
                                    <th:block>
                                        <tr th:each="boardDto : ${boardList}" class="board-tr" th:attr="data-no=${boardDto.no},data-pageNo=${pageNo}">
                                            <td th:text="${boardDto.no}"></td>
                                            <td><a th:href="@{/board/read(no=${boardDto.no},pageNo=${pageNo})}"
                                                   th:text="${boardDto.title}"> </a></td>
                                            <td th:text="${boardDto.nickname}"></td>
                                            <td th:text="${boardDto.regdate}"></td>
                                            <td th:text="${boardDto.count}"></td>
                                        </tr>
                                    </th:block>


                                    </tbody>
                                </table>

                            </div>

                            <div class="board-footer position-relative">

                                <!--  -->
                                <div class="pagenation col-9">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">


                                            <!-- PREV -->
                                            <li class="page-item" th:if="${pageDto.prev}">
                                                <a class="page-link"
                                                   th:href="@{/board/list(pageNo=${pageDto.nowBlock * pageDto.pagePerBlock - pageDto.pagePerBlock*2 + 1} )}"
                                                   aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>


                                            <!-- PAGENATION -->
                                            <li class="page-item"
                                                th:each="i : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}">
                                                <a class="page-link" th:href="@{/board/list(pageNo=${i})}">
                                                    <span th:text="${i}"></span> </a>
                                            </li>


                                            <!-- NEXT -->
                                            <li class="page-item" th:if="${pageDto.next}">

                                                <a class="page-link"
                                                   th:href="@{/board/list(pageNo=${pageDto.nowBlock*pageDto.pagePerBlock+1} )}"
                                                   aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>

                                            </li>


                                        </ul>
                                    </nav>
                                </div>


                            </div>


                        </div>

                        <div class="button-box">

                            <div class="button--group col-2">

                                <!--  search fragment      -->
                                <div th:replace="/fragments/board/search :: searchFragment" />

                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <a type="button" class="btn btn-outline-primary m-2" style="width:100px;"
                                       href="/board/post">글쓰기</a>
                                    <button type="button" class="btn btn-outline-primary m-2"
                                            style="width:100px;">처음으로
                                    </button>
                                </div>
                            </div>




                        </div>


                    </div>


                </div>


            </div>
        </div>
    </div>
</div>


<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
        integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- common.js   -->
<script src="/js/common.js"></script>

<script th:inline="javascript">

    //============================================================
    //유저 식별
    const username = /*[[${#authentication.name}]]*/ {};
    //============================================================

    const init = () => {

        boardRead();

    }

    const boardRead = () => {

        const board_tr_All_El = document.querySelectorAll('.board-tr');
        board_tr_All_El.forEach(item => {

            let no = item.getAttribute('data-no');
            let pageNo = item.getAttribute('data-pageNo');

            if(!item.hasEventListener){

                item.addEventListener('click',function(){

                    // console.log(boardDtoData);
                    window.location = '/board/read?no='+no+'&pageNo='+pageNo;

                })

            }item.hasEventListener = true;


        });



    }

    init();

</script>

</body>

</html>