<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

    <!-- headOutterLinks     -->
    <th:block th:insert="fragments/product/head :: headOutterLink" />

    <!-- bs3.3.7   -->
    <th:block th:insert="fragments/product/bs3 :: head_bs3" />

    <style>
        #wepper_section {
            width: 100%;
        }

        .main-section {}

        .main-section-area {
            width: 1260px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        .join-main{
            margin-top: 100px;
            border: 1px solid;
            border-radius: 6px;
            width: 400px;
            height: 690px;
            display: flex;
            justify-content: center;
        }
        .join-box{
            width: 300px;
            height:690px;
        }
        .join-box > form > div{
            margin-top: 5px;
        }
        .join-title{
            text-align:center;
            margin-bottom:20px;
        }

        .join-btn{
            background-color: #E53B38;
            color: white;
            margin-top: 20px;
            margin-left: 25px;
            margin-right: 25px;
            width: 250px;
        }

        .email_auth_btn{
            background-color: #E53B38;
            color: white;
        }
        .search_addr_btn{
            background-color: #E53B38;
            color: white;
        }



    </style>
</head>

<body>

<!--  header fragment      -->
<div th:replace="fragments/product/header_v3 :: headerFragment_simple" />

<!-- 바디 메인 섹션 -->
<div id="wepper_section">
    <!-- 바디 메인 -->
    <div class="main-section">
        <!-- 바디 메인 -->
        <div class="main-section-area">
            <!--회원가입-->
            <div class="join-main">
                <div class="join-box">
                    <div class="join-title">
                        <!-- title -->
                        <h3>회원가입</h3>
                    </div>
                    <form class="joinform"  name="joinform" action="/user/join" method="post" onsubmit="return false">

                        <div>
                            <input type="radio" name="role" value="ROLE_USER"  checked >사용자
                            <input type="radio" name="role" value="ROLE_MEMBER" >판매자
                            <input type="radio" name="role" value="ROLE_ADMIN" >관리자(테스트용)
                        </div>
                        <div>
                            <label>이메일계정</label>&nbsp;&nbsp;<span th:text="${username}" style="font-size:0.7rem;color:orange;" class="username_msg"></span>

                            <div style="display:flex;">
                                <input name="username" class="form-control username" placeholder="이메일 계정 입력">
                                <button type="button" class="btn email_auth_btn" data-toggle="modal" data-target="#exampleModal" style="width:80px;margin-left:5px;">
                                    인증
                                </button>
                            </div>
                        </div>
                        <div>
                            <Label>계정명</Label>&nbsp;&nbsp;<span th:text="${nickname}"  style="font-size:0.7rem;color:orange;"></span>
                            <input type="text" name="nickname" class="form-control" placeholder="계정명 입력">
                        </div>
                        <div>
                            <label>패스워드</label>&nbsp;&nbsp;<span th:text="${password}"  style="font-size:0.7rem;color:orange;"></span>
                            <input type="password" name="password" class="form-control" placeholder="패스워드 입력">
                        </div>
                        <div>
                            <label>패스워드 확인</label>&nbsp;&nbsp;<span th:text="${repassword}"  style="font-size:0.7rem;color:orange;"></span>
                            <input type="password" name="repassword" class="form-control" placeholder="패스워드 다시입력">
                        </div>
                        <div>
                            <label>연락처</label>
                            <input name="phone" class="form-control" placeholder="- 제외하고 입력">
                        </div>
                        <div>
                            <label>우편번호 검색</label>
                            <div style="display:flex;">
                                <input name="zipcode" class="form-control zipcode"  placeholder="우편번호 입력">
                                <button class="btn search_addr_btn" style="width:80px;margin-left:5px;">검색</button>
                            </div>
                        </div>
                        <div>
                            <label>기본 주소</label>
                            <input name="addr1" class="form-control addr1"  placeholder="기본주소 입력">
                        </div>
                        <div>
                            <label>상세 주소</label>
                            <input name="addr2" class="form-control" placeholder="상세주소 입력">
                        </div>
                        <div>
                            <button onclick="isValid()" class="btn join-btn">회원가입</button>
                        </div>

                    </form>

                </div>
            </div>


        </div>
    </div>
</div>


<!-- Email Auth Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">인증 코드 입력</h4>
            </div>
            <div class="modal-body">
                <form style="display:flex;justify-content:space-between;" onsubmit="return false;">
                    <div style="width:100%;">
                        <input class="form-control code">
                    </div>
                    <div style="width:80px;margin-left:5px;text-align:right;">
                        <button class="btn btn-primary email_auth_btn_2">전송</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">다시요청</button>
                <button type="button" class="btn btn-secondary modal_exit" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- common.js   -->
<script src="/js/common.js"></script>

<script>
    let is_email_check = false;

    const isValid = ()=>{
    const form = document.joinform;

    //메일인증 한지 확인
    if(is_email_check){

        form.submit();

    }else{

        alert("이메일 인증 해주세요!")

    }



    }
    //----------------------------------------------------------------
    // EMAIL 발송
    //----------------------------------------------------------------
    const email_auth_btn_el = document.querySelector('.email_auth_btn');
    const username = document.querySelector('.username');
    email_auth_btn_el.addEventListener('click',function(){
        //alert('TEST');

        axios.get('/user/auth/email/'+username.value)
        .then(response=>{ console.log(response);   })
        .catch(error=>{});

    });
    //----------------------------------------------------------------
    // CODE 전송
    //----------------------------------------------------------------
    const email_auth_btn_2_el = document.querySelector('.email_auth_btn_2');
    const code = document.querySelector('.code');
    email_auth_btn_2_el.addEventListener('click',function(){
        //alert('TEST');

        const username_msg = document.querySelector('.username_msg');

        axios.get('/user/auth/confirm/'+code.value)
        .then(response=>{
                console.log(response);
                if(response.data === 'success'){
                    username_msg.innerHTML="이메일 인증 성공..!";
                    username_msg.style.color="green";
                    is_email_check = true;
                }else{
                    username_msg.innerHTML="이메일 인증 실패..!";
                    username_msg.style.color="red";
                }
                //모달창 종료
                const modal_exit = document.querySelector('.modal_exit');
                modal_exit.click();
        })
        .catch(error=>{});

    });
</script>


<!-- 주소검색기 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    const search_addr_btn = document.querySelector('.search_addr_btn');
    search_addr_btn.addEventListener('click',function(){
       new daum.Postcode({
                oncomplete: function(data) {
                    console.log(data);
                    const zipcode = document.querySelector('.zipcode');
                    const addr1 = document.querySelector('.addr1');

                    if(data.userSelectedType==='R')
                    {
                        addr1.value = data.roadAddress;
                    }
                    else
                    {
                        addr1.value = data.jibunAddress;
                    }
                    zipcode.value=data.zonecode;

                }
            }).open();

    });


</script>
</body>

</html>