<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- headOutterLinks     -->
    <th:block th:insert="fragments/product/head :: headOutterLink" />

    <!-- bs3.3.7   -->
    <th:block th:insert="fragments/product/bs3 :: head_bs3" />

</head>
<body>


<div class="wrapper">
    <header>
        <div class="top--header"></div>
        <nav>

        </nav>
    </header>
    <main>
        <section>
            <!-- title -->
            <h3>LOGOUT 중입니다</h3>
        </section>

        <section></section>
        <section></section>
        <section></section>
    </main>
    <footer></footer>
</div>





<!-- common.js   -->
<script src="/js/common.js"></script>
<!-- logout.js-->
<script src="/js/logout.js"></script>

</body>
</html>