
.wrapper>main{

}
.wrapper>main>section{
    position:relative;
}
.wrapper>main>section .search-block{
    position:absolute;
    height:40px;
    left:0px;
    top:0px;
    width : 100%;

    display:flex;
    justify-content:right;
    align-items:center;

}


.wrapper>footer{}